.posts {
  margin-top:2em;

  > a {
    display:block;
  }

  a + a {
    margin-top: 3rem;
  }

  button {
    border:none;
    background:transparent;
    font-weight:600;
    font-size: 1.125rem;
    color:var(--highlight);
    margin-top:4rem;
  }

}

.post {

  strong {
    font-size:1.75rem;
    font-weight: bold;
    color:var(--heading);
  }

  p{
    margin-top:0.5rem;
    font-size:1.125rem;
  }

  ul {
    list-style: none;
    margin-top:1.5rem;
    display: flex;

    & li {
      font-size:0.875rem;

      & svg {
        margin-right: 0.5rem;
      }

      & + li {
        margin-left: 1.625rem;
      }
    }
  }
}
